@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
}

body {
  font-family: "Montserrat", "Arial", "sans-serif";
  word-wrap: break-word;
}
