@tailwind base;
@import "@/styles/override_tailwind_for_wordpress_content.scss";
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
}

body {
  font-family: "Montserrat", "Arial", "sans-serif";
  word-break: break-word;
}
